[submodule "unikraft"]
	path = unikraft
	url = git@github.com:TUM-DSE/ushell-unikraft.git
[submodule "libs/newlib"]
	path = libs/newlib
	url = https://github.com/unikraft/lib-newlib
[submodule "libs/sqlite"]
	path = libs/sqlite
	url = https://github.com/unikraft/lib-sqlite
[submodule "libs/pthread-embedded"]
	path = libs/pthread-embedded
	url = https://github.com/unikraft/lib-pthread-embedded
[submodule "libs/redis"]
	path = libs/redis
	url = https://github.com/unikraft/lib-redis
[submodule "libs/lwip"]
	path = libs/lwip
  url = git@github.com:pogobanane/lib-lwip.git
  branch = v0.9.0
[submodule "libs/nginx"]
	path = libs/nginx
	url = https://github.com/unikraft/lib-nginx
[submodule "libs/python3"]
	path = libs/python3
	url = https://github.com/unikraft/lib-python3
[submodule "libs/libuuid"]
	path = libs/libuuid
	url = https://github.com/unikraft/lib-libuuid
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/unikraft/lib-zlib
[submodule "libs/lua"]
	path = libs/lua
	url = https://github.com/unikraft/lib-lua
[submodule "libs/mimalloc"]
	path = libs/mimalloc
	url = https://github.com/unikraft/lib-mimalloc
[submodule "libs/ubpf_tracer"]
	path = libs/ubpf_tracer
	url = git@github.com:vandah/uk_ubpf_tracer.git
[submodule "libs/ubpf"]
	path = libs/ubpf
	url = git@github.com:vandah/uk_ubpf.git
[submodule "repo/ubpf_tracer"]
	path = repo/ubpf_tracer
	url = https://github.com/vandah/ubpf_tracer
[submodule "repo/ubpf"]
	path = repo/ubpf
	url = https://github.com/iovisor/ubpf
